*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: 'Roboto';
  font-size: 24px;
  color: white;
  letter-spacing: .5px;
  transform: scale(1.05, 1);
}

.mainTitle {
  text-align: center;
  font-weight: bold;
  padding: 12% 5% 0 5%;
}

.route {
  padding: 4% 5% 4% 5%;
  font-weight: bold;
  text-transform: uppercase;
}

.eastbound {
  margin: 15% 5% 15% 5%;
}

.northbound {
  margin: 15% 5% 15% 5%;
}

.southbound {
  margin: 15% 5% 15% 5%;
}

.reroute {
  margin: 15% 5% 15% 5%;
}

.outOfService {
  margin: 15% 5% 15% 5%;
}

.col1 {
  margin: 5%;
  padding: 25px 10px 25px 10px;
  width: 75px;
  height: 75px;
  text-align: center;
  font-weight: bold;
  float: left;
  clear: both;
  background-color: gray;
  border-radius: 10px;
}

.col2 {
  padding: 7% 10% 3% 10%;
  font-size: 18px;
  font-weight: bold;
}

.col3 {
  font-size: 16px;
  padding-bottom: 12%;
}
