*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  width: 375px;
}

body {
  background-color: #E3E3E3;
  font-family: proxima-nova, sans-serif;
  font-size: 24px;
  color: black;
}

.status {
  position: fixed;
  z-index: 99;
}

.footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  padding-bottom: 0;
  z-index: 99;

}


.bus-stop-icon {
  position: relative;
  width: 30px;
  margin: 40px 0 0 0;
  position: absolute;
}

#icon-1{
  margin: 40px 10px 0 58px;
  position: absolute;
}

#icon-2{
  position: absolute;
  margin: 0 10px 0 195px;
}

#icon-3{
  margin: 85px 0 0 250px;
}


.location {
position: absolute;
width: 70px;
margin: 95px 0 0 165px;
align-content: center;
}

.nav {
  position: absolute;
  width: 40px;
  margin-left: 325px;
  margin-top: 185px;
}

img {
  width: 100%;
  float: left;
  padding-bottom: 4%;
}

.arrow{
  position: absolute;
  width: 30px;
  margin: 52px 0 0 300px;
}

.mainTitle {
  color: white;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  padding: 4% 0 4% 9%;
  padding-top: 20%;
  background-color: black;
}

.route {
  padding: 4% 5% 5% 5%;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
}

.eastbound {
  margin: 5% 5% 15% 5%;
}

.northbound {
  margin: 5% 5% 15% 5%;
}

.southbound {
  margin: 5% 5% 15% 5%;
}

.reroute {
  margin: 5% 5% 15% 5%;
}

.outOfService {
  margin: 5% 5% 10% 5%;
}

.col1 {
  font-size: 32px;
  color: white;
  margin: 9% 5% 5% 5%;
  padding: 22px 5px 35px 5px;
  width: 75px;
  height: 75px;
  text-align: center;
  font-weight: bold;
  float: left;
  clear: both;
  background-color: #F47A22;
  border-radius: 10px;
}

.col2 {
  padding: 10% 10% 2% 10%;
  font-size: 18px;
  font-weight: bold;
}

.col3 {
  font-size: 16px;
  color: #6A6A6A;
  padding-bottom: 17%;
  margin-bottom: 5%;

}

.row {
  background-color: white;
  border-radius: 15px;
}

.strip{
  padding: 8%;
}
